---
import Welcome from "../components/Welcome.astro";
import ShowsSection from "../components/Shows.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="page-wrapper">
		<Welcome />
		<ShowsSection />
	</div>
</Layout>

<style>
	.page-wrapper {
		height: 100vh;
		overflow-y: auto;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
	}
</style>
